.form {
    padding-bottom: 10rem;
}

.form__itself {
}

.form__input-box {
    margin-bottom: 5rem;
    position: relative;
}

.form__input-box:nth-child(2) {
    margin-bottom: 0;
}

.form__input-box > * {
    display: block;
}

.form__label {
    position: absolute;
    top: 12px;
    left: 10px;
    transition: all 0.2s;
    pointer-events: none;
}

.form__label.moved-up {
    font-size: 1.4rem;
    top: -25px;
    left: 0;
    opacity: 0.7;
}

.form__label code {
    font-size: 1.3rem;
    background-color: #333;
    padding: 1px 3px;
}

.form__input {
    display: block;
    width: 100%;
    padding: 1rem;
}

.form__input:focus + label {
    font-size: 1.4rem;
    top: -25px;
    left: 0;
}

.form__textarea {
    /* min-height: 40vh; */
    min-height: 0;
    height: 55vh;
    line-height: 1;
}

.form__buttons-box {
    display: flex;
    column-gap: 3rem;
    align-items: flex-start;
}

.form__buttons-box span {
    color: red;
    line-height: 1.25;
    font-size: 1.4rem;
    background-color: #000;
}

.form__button {
    padding: 1rem 1.5rem;
    transition: box-shadow 0.2s;
}

.form__button:nth-child(1) {
    min-width: 9.3rem;
}
.form__button:nth-child(2) {
    min-width: 8.4rem;
}

.form__button:hover {
    background-color: var(--accent);
    color: var(--bg);
    box-shadow: 0 0 10px var(--accent);
}

.form__button:active {
    opacity: 0.7;
}

.form__button--preview {
}

.form__button--export {
}

.form__note {
    color: coral;
    opacity: 0.7;
    font-size: 1.4rem;
}

.form__note:hover {
    opacity: 1;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.zoom-in {
    animation: zoomIn 0.5s ease-in-out 0s 1;
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.form__bottom {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0 4rem;
    align-items: center;
    /* column-gap: 30px; */
}

.form__length {
    opacity: 0.5;
    font-size: 1.4rem;
}

.form__length:hover {
    opacity: 1;
}

.msg-box {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

span.notification {
    color: goldenrod;
}

/* ====================================================================================================== */

@media (max-width: 1182px) {
    .form__length {
        white-space: nowrap;
    }
}

@media (max-width: 993px) {
    .form__bottom {
        align-items: initial;
    }
    .moved-up.form__input-box:nth-child(2) label {
        top: -30px;
    }
}

@media (max-width: 768px) {
    .form__bottom {
        flex-direction: column;
        row-gap: 10px;
    }
    .msg-box {
        flex: 1 1 100%;
    }
    .form__buttons-box {
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .form__buttons-box button {
        flex: 1 1 30%;
    }
    .form__input {
        font-size: 1.4rem;
    }
    .form__input-box:nth-child(1) label {
        font-size: 1.4rem;
    }
    .form__input-box:nth-child(2) textarea:focus ~ label,
    .moved-up.form__label {
        top: -33px;
    }
}

@media (max-width: 620px) {
    .form__input-box:nth-child(1) input:focus ~ label {
        top: -40px;
    }
    .moved-up.form__input-box:nth-child(1) label {
        top: -40px;
    }
    .form__input-box:nth-child(1) input {
        height: 5rem;
    }
    .moved-up.form__input-box:nth-child(2) label {
        top: -30px;
    }
    .form__input-box {
        margin-bottom: 4rem;
    }
    .form__buttons-box {
        flex-direction: column;
        row-gap: 3rem;
    }
    .form__button {
        padding: 1.7rem 1.5rem;
        font-size: 2rem;
    }
    .form__buttons-box button {
        flex: 1 1 100%;
        display: block;
        width: 100%;
    }
    .form__label {
        font-size: 1.2rem !important;
    }
    .form__label code {
        font-size: 1.1rem;
    }
    .form__input {
        font-size: 1.3rem;
    }
}

@media (max-width: 510px) {
    .moved-up.form__input-box label {
        font-size: 1.2rem !important;
    }
    .moved-up.form__input-box:nth-child(2) label {
        top: -39px !important;
    }
    .form__input-box label code {
        font-size: 1.1rem;
    }
    .form__input-box {
        margin-bottom: 4.5rem;
    }
    .form__note {
        font-size: 1.4rem;
    }
    .form__input {
        font-size: 1.2rem;
    }
}
