.header {
    padding: 1.5rem 0;
    margin-bottom: 4.5rem;
}

.header__column {
}

.header__logo {
    opacity: 0.4;
    transition: all 0.2s;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3px;
}

.header__logo span:first-child {
    font-size: 3.2rem;
}

.header__logo span:last-child {
    font-size: 1.8rem;
    text-align: center;
}

.header__logo:hover {
    opacity: 1;
}

/* ====================================================================================================== */

@media (max-width: 500px) {
    .header {
        margin-bottom: 3rem;
    }
}
