.modal {
    position: relative;
}

.modal-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 500;
    backdrop-filter: blur(1px);
    cursor: pointer;
}

.modal-overlay:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.75;
    width: 100%;
    height: 100%;
}

.modal-content {
    border: 2px solid #fff;
    background-color: #000;
    width: 900px;
    margin: 0 auto;
    height: 95vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    z-index: 1000;
    padding: 3rem;
    animation: show 0.3s ease-in-out;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modal-title {
    font-size: 28px;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid #fff;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 3px;
}

.modal-close-icon {
    fill: white;
}

.modal-close:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 10px white;
}

.modal-close:hover .modal-close-icon {
    fill: black;
}

.modal-close:active {
    opacity: 0.7;
}

.modal-json {
    margin-top: 20px;
    font-size: 1.4rem;
}

code,
pre {
    white-space: pre-wrap;
}

@media (max-width: 993px) {
    .modal-content {
        width: 740px;
    }
}

@media (max-width: 768px) {
    .modal-content {
        width: 500px;
        padding: 2rem;
    }
    .modal-json {
        font-size: 1.2rem;
        margin-top: 10px;
    }
    .modal-title {
        font-size: 24px;
    }
}

@media (max-width: 530px) {
    .modal-content {
        width: 95%;
        padding: 1rem;
    }
    .modal-close {
        top: 5px;
        right: 5px;
    }
    .modal-title {
        font-size: 20px;
    }
    .modal-json {
        font-size: 1rem;
        margin-top: 7px;
    }
}
