.line-numbers {
    max-height: 84vh;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: -40px;
    line-height: 1;
    scrollbar-width: none;
    pointer-events: none;
    padding: 1rem;
    padding-top: 1.1rem;
    max-width: 50px;
    border: none;
    resize: none;
}
.line-numbers::-webkit-scrollbar {
    display: none;
}
